<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%= username %></h1>

    <% posts.forEach(function(post){ %>
        <p><%= post.title %></p>
        <p><%= post.content %></p>
      <% }); %>

    %>
  

    <div class="new-post-container"> 
        <form action="/post/new" method="GET">
            <input name="post" type="text" placeholder="enter a title">
            <button type="submit">Create post</button>
        </form>
 
    </div>

    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
        </form>




</body>
</html>